<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PaySplitter"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.apps.drive.APP_ID"
            android:value="id=1078099782062-tiu4id9rbjft088u1h5vm3q5rtq4mqql.apps.googleusercontent.com" />

        <activity android:name=".View.EnterGroup" />
        <activity android:name=".View.ViewGroup" />
        <activity android:name=".View.ViewExpense" />
        <activity android:name=".View.GroupFormManagement" />
        <activity android:name=".View.ExpenseFormManagement" />
        <activity android:name=".View.ViewDebt" />
        <activity android:name=".View.MainPage" />
        <activity android:name=".View.ViewSettings" />
        <activity
            android:name=".App"
            android:configChanges="uiMode"
            android:exported="true"
            android:theme="@style/Theme.PaySplitter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>